aside {
    border-right: 1px solid var(--color-grey);
    padding-top: 50px;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;
    position: sticky;
    /* overflow-y:visible; */
}



aside ul {
    /* Nadpisanie domyślnych styli przeglądarki */
    padding-inline-start: 0rem;
}

aside li {
    line-height: 27px;
    padding-bottom: 32px;
}

nav ul .aside-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 120px;

}

aside li a {
    display: block;
    margin-left: 1rem;
}

aside a.active {
    background-color: var(--color-primary-blue);
    color: var(--color-white);
}

@media (min-width: 0px) and (max-width: 400px) {
    aside {
        display: none;
        padding-left: 0px;
        width: 0px;
    }
}