.layout {
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-columns: 8fr 92fr;
  grid-template-rows: 160px calc(100vh - 160px);
  grid-template-areas:
    'header header'
    'sidebar main'
    ;
  background: var(--color-white);
  color: var(--color-grey);
}

@media (min-width: 0px) and (max-width: 400px) {
  .layout {
    grid-template-areas:
      'header header'
      'main main'
      'footer footer';
  }
}

main {
  grid-area: main;
  height: calc(100vh - 200px );
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.5rem;
}
