.layout {
  display: grid;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 180px calc(100vw - 180px);
  grid-template-rows: 160px calc(100vh - 160px);
  grid-template-areas:
    'header header'
    'sidebar main'
    ;
  background: var(--color-white);
  color: var(--color-grey);
}

@media (min-width: 0px) and (max-width: 400px) {
  .layout {
    grid-template-areas:
      'header header'
      'main main'
      'footer footer';
  }
}

main {
  grid-area: main;
  height: calc(100vh - 200px );
  display: flex;
  flex-direction: column;
  overflow-y:hidden;
  padding: 1.5rem;
}
