div .dates {
    width: 45px
}

div .po {
    width: 135px
}

div .operation {
    width: 160px;
}


li {
    height: 150px;
    padding-left: 15px;
}

div.tech-table {
    overflow-x: auto;
    width: 100%;
}

thead.heading {
    position: sticky;
    top: 0;
    z-index: 2;
}

th.date-heading {
    min-width: 50px;
    width: 70px;
}

th.id-column {
    min-width: 80px;
    width: 80px;
}

th.po-column {
    min-width: 95px;
    width: 95px;
}

th.rysunek-column {
    min-width: 185px;
    width: 185px;
}

th.sztuki-column {
    min-width: 80px;
    width: 80px;
}

th.material-column {
    min-width: 165px;
    width: 165px;
}

th.przygotowka-column {
    width: 150px;
    min-width: 120px;
}

th.komentarz-column {
    width: 220px;
    min-width: 200px;
}

tr th.operation-column {
    width: 80px;
    min-width: 60px;
}

th.otherInfo-column {
    width: 130px;
    min-width: 100px;
}

th.when-column {
    width: 170px;
    min-width: 150px;
}

td.id-style {
    color: black;
    font-size: 0.75em;
}

td.brak-tech-style {
    background-color: #f067a6;
    color: black;
}

td.stopped-style {
    background-color: #f58220;
}

td.start-style {
    background-color: #b9e5fb;
    color: black;
}

td.rel-stat-style {
    background-color: #8dc63f;
    color: black;
}

td.crtd-stat-style {
    background-color: #ffdd00;
    color: black;
}

td.teco-stat-style {
    background-color: #777777;
    color: black;
}

td.when-style {
    color: black;
    text-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

td.not-empty-op {
    background-color: #C6E0B4;
    color: black;
}



tr {
    color: #0044ff81;
    font-weight: 600;
    text-wrap: nowrap;
    font-family: Calibri;
    font-size: 22px;
}

tr:nth-child(even) {
    background-color: #ffffffff;
}

tr:nth-child(odd) {
    background-color: #D9E1F2;
}

thead.heading tr {
    background-color: #4472C4;
    color: #ffffff;
    text-wrap: nowrap;
}

td {
    padding-left: 5px;
    padding-right: 5px;
    color: black;
}

td.past {
    background-color: #F8696B;
    max-width: 20px;
}

td.current {
    background-color: #E0E383;
    max-width: 20px;

}

td.far {
    background-color: #63BE7B;
    max-width: 20px;

}

tr.record-row:hover {
    background-color: #f5ddbe;
    font-style: bold;
}

select.input-operation {
    width: 220px;
    background: none;
    /* background-color: blue; */
    border-radius: 5px;
    color: black;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 600;
    height: 75px;
    border: none;
    text-align: center;
    /* border-color: #4472C4; */
}